@import '../../../../filament/filament/resources/css/theme.css';
@import "tailwindcss";
@plugin 'tailwindcss-animate';
@plugin 'flowbite/plugin';
@plugin 'tailwind-scrollbar';

@theme {
    --color-primary-50: var(--primary-50);
    --color-primary-100: var(--primary-100);
    --color-primary-200: var(--primary-200);
    --color-primary-300: var(--primary-300);
    --color-primary-400: var(--primary-400);
    --color-primary-500: var(--primary-500);
    --color-primary-600: var(--primary-600);
    --color-primary-700: var(--primary-700);
    --color-primary-800: var(--primary-800);
    --color-primary-900: var(--primary-900);
    --color-primary-950: var(--primary-950);

    --color-gray-50: var(--gray-50);
    --color-gray-100: var(--gray-100);
    --color-gray-200: var(--gray-200);
    --color-gray-300: var(--gray-300);
    --color-gray-400: var(--gray-400);
    --color-gray-500: var(--gray-500);
    --color-gray-600: var(--gray-600);
    --color-gray-700: var(--gray-700);
    --color-gray-800: var(--gray-800);
    --color-gray-900: var(--gray-900);
    --color-gray-950: var(--gray-950);

    --color-danger-50: var(--danger-50);
    --color-danger-100: var(--danger-100);
    --color-danger-200: var(--danger-200);
    --color-danger-300: var(--danger-300);
    --color-danger-400: var(--danger-400);
    --color-danger-500: var(--danger-500);
    --color-danger-600: var(--danger-600);
    --color-danger-700: var(--danger-700);
    --color-danger-800: var(--danger-800);
    --color-danger-900: var(--danger-900);
    --color-danger-950: var(--danger-950);

    --color-success-50: var(--success-50);
    --color-success-100: var(--success-100);
    --color-success-200: var(--success-200);
    --color-success-300: var(--success-300);
    --color-success-400: var(--success-400);
    --color-success-500: var(--success-500);
    --color-success-600: var(--success-600);
    --color-success-700: var(--success-700);
    --color-success-800: var(--success-800);
    --color-success-900: var(--success-900);
    --color-success-950: var(--success-950);

    --color-warning-50: var(--warning-50);
    --color-warning-100: var(--warning-100);
    --color-warning-200: var(--warning-200);
    --color-warning-300: var(--warning-300);
    --color-warning-400: var(--warning-400);
    --color-warning-500: var(--warning-500);
    --color-warning-600: var(--warning-600);
    --color-warning-700: var(--warning-700);
    --color-warning-800: var(--warning-800);
    --color-warning-900: var(--warning-900);
    --color-warning-950: var(--warning-950);

    --color-info-50: var(--info-50);
    --color-info-100: var(--info-100);
    --color-info-200: var(--info-200);
    --color-info-300: var(--info-300);
    --color-info-400: var(--info-400);
    --color-info-500: var(--info-500);
    --color-info-600: var(--info-600);
    --color-info-700: var(--info-700);
    --color-info-800: var(--info-800);
    --color-info-900: var(--info-900);
    --color-info-950: var(--info-950);
}

@source "../../../../../app/Filament/**/*.php";
@source "../../../../../resources/views/filament/**/*.blade.php";
@source "../../../../../vendor/filament/**/*.blade.php";
@source "../views/**/*.blade.php";

.fi-body {
  @apply bg-gray-50 dark:bg-gray-900;
}

.fi-layout {
  @apply bg-gray-50 dark:bg-gray-900;
}

.fi-sidebar-open {
  @apply sm:w-1/3 md:w-1/4 lg:w-1/5 xl:w-60;
}

.fi-sidebar-header {
  @apply px-3;
}

.fi-sidebar-header .fi-icon-btn svg {
  @apply w-4 h-4;
}

.fi-sidebar-nav {
  @apply bg-gray-50 dark:bg-gray-900 px-3 gap-6 pb-8 pt-4 scrollbar scrollbar-thumb-gray-200 hover:scrollbar-thumb-gray-400 dark:scrollbar-thumb-gray-700 scrollbar-track-transparent;
}

.fi-ta-content {
  @apply scrollbar scrollbar-thumb-gray-200 dark:scrollbar-thumb-gray-700 scrollbar-track-transparent;
}

.fi-user-menu {
  display: none !important;
}

.fi-sidebar-nav-groups {
  @apply mx-0;
}

.fi-sidebar-group-label {
  @apply text-gray-400 font-medium text-xs;
}

.fi-sidebar-group-button {
  @apply flex-row-reverse gap-x-1;
}

.fi-sidebar-group-button .fi-icon-btn svg {
  @apply w-4 h-4;
}

.fi-sidebar-header {
  @apply bg-gray-50 dark:bg-gray-900 ring-0 shadow-none;
}

.fi-wi {
  @apply p-6;
}

.fi-header {
  @apply bg-gray-100 dark:bg-gray-800;
}

.fi-header .shrink-0 {
  @apply sm:mt-0;
}

.fi-header .fi-breadcrumbs {
  @apply hidden;
}

.fi-header .fi-header-heading {
  @apply hidden;
}

.fi-header .fi-ac {
  @apply px-6;
}


.fi-main-ctn {
  @apply bg-white dark:bg-gray-800 min-h-full ml-2 mr-2 rtl:sm:mr-0 rtl:ml-2 sm:ml-0 mt-2 mb-2 rtl:md:ml-4 md:mr-4 md:mt-4 md:mb-4 overflow-hidden border border-gray-100 dark:border-gray-700 rounded-2xl shadow-sm;
}

.fi-sidebar-item svg {
  @apply text-sm w-5 h-5;
}

.fi-sidebar-item a {
  @apply px-3 py-1.5 hover:bg-white;
}

.fi-sidebar-item span {
  @apply text-gray-800 dark:text-gray-200 font-normal text-xs;
}

.fi-sidebar-item-active svg {
  @apply text-primary-500 text-sm w-5 h-5;
}

.fi-sidebar-item-active a {
  @apply px-3 py-1.5 bg-white shadow-sm hover:bg-white;
}

.fi-sidebar-item-active span {
  @apply text-gray-800 dark:text-gray-200  font-medium text-xs;
}

.fi-main {
  @apply max-w-full;
  padding: 0 !important;
}

.fi-main > section {
  @apply py-0 px-0 gap-y-0;
}

.fi-page > section > div {
  @apply px-6;
}

.fi-global-search {
  @apply w-full;
}

.fi-global-search-field .fi-input-wrp {
  @apply w-full;
}

.fi-header {
  background-color: #fff;
}

.fi-sidebar-header {
  margin-left: 10px;
}

.fi-sidebar-header .fi-logo {
  height: 25px !important;
}

.fi-header:not(:has(.fi-btn)) {
  display: none;
}

.fi-dashboard-page > :first-child {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}